button {
    background: lightgray;
    border: none;
    padding: .5em 2em;
    margin: 0 .5em;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.1em;
}
button:hover {
    background: black;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}